.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  

  .card {
    border: 6px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
    background-size: cover;
    height: 332px;
    width: 232px;
  }
  