@font-face {
    font-family: "Tusker Grotesk";
    src: url("https://thalesvpr.github.io/AC-devWeb/assets/fonts/Tusker.Grotesk/Tusker.Grotesk/TuskerGrotesk-5600Semibold.ttf");
  }
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
  #voltar_buttom{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #bottom{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #voltar_buttom:hover {
    background-color: black;
    
    cursor: pointer;
    text-decoration: white;
  }
    #voltar_content{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
  }
  #voltar_buttom:hover #voltar_content {
    color: #fff;
  }

  i.material-symbols-outlined {
    font-size: 18px;
  }
  #voltar_buttom:hover i {
    color: #fff;
  }

.card {
    border: 10px solid white;
    border-radius: 35px;
    background-size: cover;
    height: 498px;
    min-width: 348px;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 90px;
    
  }
  .card_actions{
    margin-top: 20em;
    height: 15%;
  }
  .detalhes{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 800px;
  }

 #content{
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
  }

    #nome_completo{font-family: 'Tusker Grotesk', sans-serif;
        font-size: 7em;
        width: 5.5em;}
    #posicao{ 
       
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        font-size: 2.5em;}
   
    #nascimento{    font-family: 'Tusker Grotesk', sans-serif;
        font-size: 1.5em;
        margin: 0px;
        
       }
    #descricao{
        
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
        margin-top: 4em;
        text-align:left;}
    #altura{font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.1em;}


        @media screen and (max-width: 1150px) {

              .detalhes{
                
                width: 60%;
                justify-content: center;
                
                
                
              }
              #nome_completo{
                font-size: 5em;
        
                width: 5em;}
                #descricao{
                    font-size: 1em;
                    max-width: 400px}
            
        }    

@media screen and (max-width: 800px) {
    #content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .card{
        margin: 50px 0px;
                
        height: 400px;
        min-width: 300px;
      }
      .detalhes{
        
        width: 60%;
        justify-content: center;
        text-align: center;
        align-items: center;
        
        
      }
      #nome_completo{
        font-size: 2.5em;

        width: 7em;}

    
}    


